<link rel="preload" href="/assets/fonts/ibm-plex-mono-v11-latin-200.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/ObjectSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" type="text/css" href="/assets/fonts/fonts.css">
