<!DOCTYPE html>
{% set lang = renderData.language if renderData.language else locales.default %}
<html class="{{ htmlClass }}" lang="{{ lang }}">
{# HEAD #}
{% include "layout/_head.njk" %}

{# BODY #}
<body>
  {{ content | safe }}
  {% include "layout/footer.njk" %}
</body>

</html>
