---
renderData:
  language: "en"
  title: "Cuchillo©"
  description: "We are a creative team specialized in building new perspectives and bold digital concepts for brands to be timeless."
  image: "https://www.somoscuchillo.com/assets/social/facebook-1200x630.jpg"
  image_twitter: "https://www.somoscuchillo.com/assets/social/twitter-600x330.jpg"
layout: layout/default
---

<header class="block-header">
  <h1><strong>Cuchillo<sup>©</sup></strong> is a creative team specialized in building new perspectives and bold digital concepts for brands to be timeless.</h1>
</header>

<ul class="block-ul-links">
  <li class="--desktop"><a href="https://cuchillo.tools/dossier-cuchillo-2023.pdf" target="_blank">look at our portfolio</a></li>
  <li class="--mobile"><a href="https://cuchillo.tools/dossier-cuchillo-2023-mobile.pdf" download="">look at our portfolio</a></li>
  <li><a href="mailto:info@somoscuchillo.com" target="_blank">info@somoscuchillo.com</a></li>
  <li><a href="https://www.instagram.com/_cuchillo/" target="_blank">instagram</a></li>
  <li><a href="https://twitter.com/somoscuchillo" target="_blank">twitter</a></li>
</ul>

<div class="block-3-cols">
  <div class="works">
    <h2>01.Selected digital works</h2>
    <ul>
      <li><a href="https://koraliving.com/" target="_blank">Kora Living</a></li>
      <li><a href="https://bear-rabe.com/" target="_blank">Bear Architects</a></li>
      <li><a href="https://astarloa.es/" target="_blank">Astarloa <span class="nota">with Julen Garcia</span></a></a></li>
      <li><a href="https://fuegocaminaconmigo.com/" target="_blank">Fuego camina conmigo <span class="nota">with Llos&co</span></a></li>
      <li><a href="https://www.uragentzia.euskadi.eus/contenidos/recurso_tecnico/ibaiak_ibilbideak/eu_def/ibilbideak/es/index.html" target="_blank">Ibaiak</a></li>
      <li><a href="https://www.in56.es" target="_blank">IN56</a></li>
      <li><a href="https://novoajauregui.com/" target="_blank">Novoa Jáuregui</a></li>
      <li><a href="https://untruthsandconsequences.com/" target="_blank">Querdenken Everything <span class="nota">with Decimal Studios</span></a></li>  
      <li><a href="https://basquedcc.euskadi.eus/" target="_blank">Basque District Of Culture And Creativity</a></li>
      <li><a href="https://somosobjeto.com/" target="_blank">E-commerce Objeto <span class="nota">with Redradix</span></a></li> 
      <li><a href="https://www.2112.run" target="_blank">2112.run</a></li>
      <li><a href="https://seint.store/" target="_blank">seint.store</a></li>
      <li><a href="https://www.zapiensdesign.com/" target="_blank">Zapiens <span class="nota">with Zapiens</span></a></li>
      <li><a href="https://www.primt.es" target="_blank">Primt</a></li>
      <li><a href="https://www.cevitxef.com" target="_blank">Cevitxef</a></li>
      <li><a href="https://www.primt.es" target="_blank">1→2→3→Primt</a></li>
      <li><a href="https://www.badass35.com/en" target="_blank">The Badass Project</a></li>
      <li><a href="https://www.xandraalvarezallende.com/" target="_blank">Xandra Alvarez Allende</a></li>
      <li><a href="https://www.gavkag.com" target="_blank">Gavkag Unique Photography</a></li>
      <li><a href="https://www.azab.es" target="_blank">Azab Architects</a></li>
      <li><a href="https://www.dottodot.es/en/" target="_blank">Dot to Dot Architects</a></li>
      <li><a href="https://www.okela.org/en" target="_blank">Okela Sormen Lantegia</a></li>
      <li><a href="https://www.maraka.co" target="_blank">Maraka</a></li>
    </ul>
  </div>

  <div class="awards">
    <h2>02.Awards</h2>
    <ul>
      <li><a href="https://www.awwwards.com/Cuchillo/" target="_blank">6x Awwwards Site of the Day</a></li>
      <li><a href="https://thefwa.com/profiles/cuchillo" target="_blank">3x FWA of the Day</a></li>
      <li><a href="https://www.adg-fad.org/es/laus/proyecto/cuchillo" target="_blank">9x ADG-FAD Laus</a></li>
    </ul>
  </div>

  <div class="featured">
    <h2>03.Featured on</h2>
    <ul>
      <li><a href="https://slanted.de/product/typography-for-screen-type-in-motion/" target="_blank">Typography for Screen</a></li>
      <li><a href="https://www.commarts.com/" target="_blank">Communication Arts</a></li>
      <li><a href="https://www.siteinspire.com/" target="_blank">Siteinspire</a></li>
      <li><a href="https://mindsparklemag.com/" target="_blank">Mindsparkle Mag</a></li>
      <li><a href="https://404.foundation/" target="_blank">404.Foundation</a></li>
      <li><a href="https://www.klikkentheke.com/" target="_blank">Klikkentheke</a></li>
    </ul>
  </div>
</div>


