---
renderData:
  language: "es"
  title: "Cuchillo© - Programa Kit Digital"
  description: "We are a creative team specialized in building new perspectives and bold digital concepts for brands to be timeless."
  image: "https://www.somoscuchillo.com/assets/social/facebook-1200x630.jpg"
  image_twitter: "https://www.somoscuchillo.com/assets/social/twitter-600x330.jpg"
layout: layout/default
---

<div class="img-subtitle">
  <img src="..\assets\images\Logo-digitalizadores.png">
</div>

<header class="block-header">
  <h1><strong>CUCHILLO » KIT DIGITAL</strong><br/>
  El Kit Digital es una iniciativa del Gobierno de España, que tiene como objetivo subvencionar la implantación de soluciones digitales disponibles en el mercado para conseguir un avance significativo en el nivel de madurez digital.
  <br/><br/>Presencia digital:
  </h1>
</header>

<div class="block-3-kit-digital">
  <div class="block-3-kit-digital column">
    <h2>WEB</h2>
    <p>Desarrollo web/identidad digital</p>
    
    <p>Importe máximo de la ayuda: <strong>2.000€</strong><br>Precio Cuchillo: desde 4.200</p>
    <hr/>
    <h3>Servicios</h3>
    <ul>
      <li><strong>Dominio</strong></li>
      <li><strong>Hosting</strong></li>
      <li><strong>Diseño de la página web</strong></li>
      <li><strong>Web responsive</strong></li>
      <li><strong>Autogestionable</strong></li>
      <li><strong>SEO básico</strong></li>
    </ul>
    <hr/>
    <h3>Importe de la ayuda</h3>
    <h4>Segmento III</h4>
    <p>0 &gt; 3 empleados<br>Importe máximo: <strong>2.000€</strong></p>
    <h4>Segmento II</h4>
    <p>3 &gt; 9 empleados<br>Importe máximo: <strong>2.000€</strong></p>
    <h4>Segmento I</h4>
    <p>10 &gt; 50 empleados<br>Importe máximo: <strong>2.000€</strong></p>
  </div>

  <div class="block-3-kit-digital column">
    <h2>E-Commerce</h2>
    <p>Desarrollo tienda online</p>
    <p>Importe máximo de la ayuda: <strong>2.000€</strong><br>Precio Cuchillo: desde 4.200</p>
    <hr/>
    <h3>Servicios</h3>
    <ul>
      <li><strong>Dominio</strong></li>
      <li><strong>Hosting</strong></li>
      <li><strong>Diseño E-Commerce</strong></li>
      <li><strong>Web responsive</strong></li>
      <li><strong>Autogestionable</strong></li>
      <li><strong>SEO básico</strong></li>
    </ul>
    <hr/>
    <h3>Importe de la ayuda</h3>
    <h4>Segmento III</h4>
    <p>0 &gt; 3 empleados<br>Importe máximo: <strong>2.000€</strong></p>
    <h4>Segmento II</h4>
    <p>3 &gt; 9 empleados<br>Importe máximo: <strong>2.000€</strong></p>
    <h4>Segmento I</h4>
    <p>10 &gt; 50 empleados<br>Importe máximo: <strong>2.000€</strong></p>
  </div>

  <div class="block-3-kit-digital column">
    <h2>RRSS</h2>
    <p>Gestión redes sociales</p>
    <p>Importe máximo de la ayuda: 2.500€<br>Precio Cuchillo: desde 2.000</p>
    <hr/>
    <h3>Funcionalidades y servicios</h3>
    <ul>
      <li><strong>Desarrollo identidad para redes sociales</strong></li>
      <li><strong>Publicación de posts</strong></li>
    </ul>
    <hr/>
    <h3>Importe de la ayuda</h3>
    <h4>Segmento III</h4>
    <p>0 &gt; 3 empleados<br>Importe máximo: <strong>2.000€</strong></p>
    <h4>Segmento II</h4>
    <p>3 &gt; 9 empleados<br>Importe máximo: <strong>2.500€</strong></p>
    <h4>Segmento I</h4>
    <p>10 &gt; 50 empleados<br>Importe máximo: <strong>2.500€</strong></p>
  </div>
</div>


