---
renderData:
  language: "es"
  title: "Cuchillo© - Programa Kit Digital"
  description: "We are a creative team specialized in building new perspectives and bold digital concepts for brands to be timeless."
  image: "https://www.somoscuchillo.com/assets/social/facebook-1200x630.jpg"
  image_twitter: "https://www.somoscuchillo.com/assets/social/twitter-600x330.jpg"
layout: layout/default
---
<header class="block-header">
  <h1><strong>Programa «Kit Digital»</strong></h1>
</header>

<div class="img-subtitle">
  <img src="..\assets\images\Logo-digitalizadores.png">
</div>

<div class="block-2-cols">
  <div class="blocks-2cols column">
  <h2>¿Qué es el Programa Kit Digital?</h2>
  <p>
    El Programa <strong>Kit Digital</strong> tiene como objetivo financiar los costes de <strong>transformación digital</strong> de las pequeñas y medianas empresas, a través de un conjunto de <strong>herramientas digitales</strong> relacionadas con el marketing digital, la venta electrónica, la gestión digital de clientes, etc.

  </p>
  </div>

  <div class="blocks-2cols column">
  <h2>¿A quién va dirigido?</h2>
  <p>
  Las soluciones digitales que proporciona el Kit Digital están orientadas a las necesidades de las <strong>pequeñas empresas</strong>, <strong>microempresas</strong> y trabajadores <strong>autónomos</strong>, que pertenezcan a cualquier sector o tipología de negocio.
  </p>
  </div>
</div>

<div class="block-3-kit-digital">
  <div class="block-3-kit-digital column">
    <h2>Sitio web y presencia en internet</h2>
    <p>Te ayudamos a tener presencia en internet y a expandir tu negocio mediante la creación de una web y el posicionamiento básico en internet.</p>
    
    <p><strong>Importe máximo de la ayuda: <strong>2.000€</strong><br>Precio Alcandora: entre 1.200 y <strong>2.000€</strong>*</strong></p>
    <p class="reference-text">* El precio puede variar en función de las características del sitio web y del segmento al que pertenezca tu negocio</p>
    <hr/>
    <h3>Funcionalidades y servicios</h3>
    <ul>
      <li><strong>Dominio</strong>: alta de nuevo dominio para la pyme beneficiaria durante un plazo mínimo de doce meses. La titularidad del dominio será en su totalidad de la pyme.</li>
      <li><strong>Hosting</strong>: alojamiento de la página web desarrollada durante un plazo mínimo de doce meses.</li>
      <li><strong>Diseño de la página web</strong>: estructura web con un mínimo de 3 páginas o apartados. Se consideran páginas o apartados de una web, elementos tales como: página de inicio (Landing Page), presentación de la empresa, formulario de contacto, descripción de productos, datos de contacto, mapa del sitio (sitemap), etc.</li>
      <li><strong>Web responsive</strong>: las páginas web diseñadas deben adaptarse para ser funcionales en todo tipo de dispositivos. </li>
      <li><strong>Accesibilidad</strong>: el diseño debe cumplir con criterios de conformidad de nivel AA de las Pautas WCAG-2.1. </li>
      <li><strong>Autogestionable</strong>: se deberá proveer una plataforma de gestión de contenidos para el beneficiario, de manera que sea autónomo a la hora de modificar el contenido de sus páginas web, sin la necesidad de recurrir al soporte de la empresa proveedora.</li>
      <li><strong>Posicionamiento básico en internet</strong>: Posicionamiento de la información básica del negocio, contacto y perfil de la empresa en los principales sites, redes de negocio o directorios de empresas y profesionales.</li>
      <li><strong>Optimización de la presencia en buscadores (SEO básico)</strong>: Análisis de palabras clave, SEO On-Page de 2 páginas o apartados, indexación y jerarquización del contenido.</li>
    </ul>
    <hr/>
    <h3>Importe de la ayuda</h3>
    <h4>Segmento III</h4>
    <p>0 &gt; 3 empleados<br>Importe máximo de la ayuda: <strong>2.000€</strong></p>
    <h4>Segmento II</h4>
    <p>3 &gt; 9 empleados<br>Importe máximo de la ayuda: <strong>2.000€</strong></p>
    <h4>Segmento I</h4>
    <p>10 &gt; 50 empleados<br>Importe máximo de la ayuda: <strong>2.000€</strong></p>
  </div>

  <div class="block-3-kit-digital column">
    <h2>Comercio electrónico</h2>
    <p>Pondremos en marcha una tienda online para que puedas vender tus servicios / productos en el entorno digital.</p>
    
    <p><strong>Importe máximo de la ayuda: <strong>2.000€</strong><br>Precio Alcandora: entre 1.600 y <strong>2.000€</strong>*</strong></p>
    <p class="reference-text">* El precio puede variar en función de las características del sitio web y del segmento al que pertenezca tu negocio</p>
    <hr/>
    <h3>Funcionalidades y servicios</h3>
    <ul>
      <li><strong>Creación de la tienda online o E-Commerce</strong>y alta del catálogo de productos: producción de un catálogo mediante el alta, importación o carga de los productos o artículos de la pyme. El número de referencias a cargar por el agente digitalizador será de al menos 100 referencias de productos, salvo que la pyme no disponga de este número, en cuyo caso podrá ser menor.</li>
      <li><strong>Métodos de pago</strong>: configuración e integración de los métodos de pago.</li>
      <li><strong>Diseño Responsive</strong>: la solución de E-Commerce diseñada debe adaptarse para ser funcional en todo tipo de dispositivos.</li>
      <li><strong>Accesibilidad</strong>: El diseño debe cumplir con criterios de conformidad de nivel AA de las Pautas WCAG-2.1.</li>
      <li><strong>Posicionamiento básico en internet</strong>: Posicionamiento de la información básica del negocio, contacto y perfil de la empresa en los principales sites, redes de negocio o directorios de empresas y profesionales.</li>
      <li><strong>Optimización de la presencia en buscadores (SEO)</strong>: Análisis de palabras clave, análisis de la competencia, SEO On-Page de 2 páginas o apartados, indexación y jerarquización del contenido e informes trimestrales de seguimiento.</li>
    <li><strong>Autogestionable</strong>: se deberá proveer una plataforma de gestión de contenidos para el beneficiario, de manera que sea autónomo a la hora de modificar el contenido de sus páginas web, sin la necesidad de recurrir al soporte de la empresa proveedora.</li>
    <li><strong>Formas de envío</strong>: configuración e integración de métodos de envío digital y físico de los productos comercializados por el beneficiario en la tienda online.</li>
    </ul>
    <hr/>
    <h3>Importe de la ayuda</h3>
    <h4>Segmento III</h4>
    <p>0 &gt; 3 empleados<br>Importe máximo de la ayuda: <strong>2.000€</strong></p>
    <h4>Segmento II</h4>
    <p>3 &gt; 9 empleados<br>Importe máximo de la ayuda: <strong>2.000€</strong></p>
    <h4>Segmento I</h4>
    <p>10 &gt; 50 empleados<br>Importe máximo de la ayuda: <strong>2.000€</strong></p>
  </div>

  <div class="block-3-kit-digital column">
    <h2>Gestión de redes sociales</h2>
    <p>Te ayudamos a promocionar tu negocio para conseguir más clientes, generar seguidores de calidad y llegar a tu público objetivo.</p>
    
    <p><strong>Importe máximo de la ayuda: 2.500€<br>Precio Alcandora: entre 2.000 y 2.500€*</strong></p>
    <p class="reference-text">* El precio puede variar en función de las características del sitio web y del segmento al que pertenezca tu negocio</p>
    <hr/>
    <h3>Funcionalidades y servicios</h3>
    <ul>
      <li><strong>Social Media Plan</strong>: definición e implementación de una estrategia de redes sociales alineada con la misión y visión de la pyme, que sea relevante y conecte con los potenciales clientes, y fidelice a aquellos usuarios que ya lo sean.</li>
      <li><strong>Monitorización de redes sociales</strong>: monitorización y control periódico a través de métricas de referencia del impacto de las acciones, para cuantificar los resultados y comprobar si se están cumpliendo los objetivos marcados en la estrategia.</li>
      <li><strong>Optimización de la red/Auditoría Social Media</strong>: análisis de los diferentes canales sociales para poder optimizar el rendimiento.</li>
      <li><strong>Gestión de una red social</strong>: administración del perfil/usuario de la pyme en, al menos, una red social.</li>
      <li><strong>Publicación de posts semanales</strong>: publicación por parte del agente digitalizador de un mínimo de 4-8 entradas (posts) mensuales.</li>
    </ul>
    <hr/>
    <h3>Importe de la ayuda</h3>
    <h4>Segmento III</h4>
    <p>0 &gt; 3 empleados<br>Importe máximo de la ayuda: <strong>2.000€</strong></p>
    <h4>Segmento II</h4>
    <p>3 &gt; 9 empleados<br>Importe máximo de la ayuda: <strong>2.500€</strong></p>
    <h4>Segmento I</h4>
    <p>10 &gt; 50 empleados<br>Importe máximo de la ayuda: <strong>2.500€</strong></p>
  </div>
</div>


